apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: 'Loki'
        tags: ['job', 'service']
        mappedTags: [{ key: 'service', value: 'service' }]
        mapTagNamesEnabled: true
        spanStartTimeShift: '-1m'
        spanEndTimeShift: '1m'
      tracesToMetrics:
        datasourceUid: 'Prometheus'
        tags: [{ key: 'service', value: 'service' }]
        spanStartTimeShift: '-1m'
        spanEndTimeShift: '1m'
      serviceMap:
        datasourceUid: 'Prometheus'
      nodeGraph:
        enabled: true
    editable: true
